// Specific CSS for your home-page
body {
    background-color: $seeql-background-blue;
    background-image: linear-gradient(rgba($black, .5), rgba($black, .5)), image-url('background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.page-content {
    min-height: calc(100vh - 60px);
    // padding-bottom: 60px;
}

// Generally for all sections on lp
section {
    padding-top: 4.5rem;
    text-align: center;

    h1 {
        color: $oxford-blue;
        font-weight: 500;
        padding-bottom: 4.5rem;
    }

    h3 {
        color: $oxford-blue;
        font-weight: 600;
        padding-bottom: 10px;
    }

    p {
        color: $seeql-dark-blue;
    }
}

// .section-header {
//     color: $white;
//     font-size: 38px;
//     padding-bottom: 40px;
//     text-align: center;
// }

// // Very small devices (landscape phones, 576px and up)
// @media (min-width: 100px) and (max-width: 575px) {
//   section {
//     margin-bottom: 12.0rem;
//   }
// }

// XX large devices (widescreen desktops, 2560px and up)
@media (min-width: 2560px) {
    section {
        margin-bottom: 22rem;
    }
}

// Specific to how-it-works section on lp
#how-it-works {
    background-color: $white;
}

.how-it-works-path {
    align-items: center;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    img {
        max-width: 90%;
    }
}

// Small devices (landscape phones, 600px and lower)
@media screen and (max-width: 600px) {
    .how-it-works-path {
        grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 694px and lower)
@media screen and (max-width: 694px) {
    .how-it-works-path {
        h3 {
            font-size: 22px;
        }
    }
}

.dotted-lines {
    display: none;
    padding-left: 26%;
    padding-right: 26%;
}

// Small devices (landscape phones, 600px and up)
@media screen and (min-width: 601px) {
    .dotted-lines {
        display: block;
    }
}

// Small devices (landscape phones, 600px and lower)
@media screen and (max-width: 600px) {
    .img-step-2 {
        order: 1;
    }

    .text-step-2 {
        margin-top: 80px;
    }

    .text-step-3 {
        margin-top: 80px;
    }
}

// Small devices (landscape phones, 600px and lower)
@media screen and (max-width: 600px) {
    .text-step-2 {
        order: 0;
    }
}
