#who-are-we {
    background-color: $white;

    h1 {
        color: $oxford-blue;
    }

    i {
        color: $oxford-blue;
    }

    p {
        color: $seeql-dark-blue;
    }
}

.seeql-logo-bottom {
    max-width: 20%;
}

.team {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 4.5rem 20px;
}

.member {
    text-align: center;

    img {
        border-radius: 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .team {
        grid-template-columns: 1fr 1fr;
    }
}
