<%= simple_form_for([ project, collaborator ]) do |form| %>
    <div class="collaborator-form" id="collaborator-form">
        <%= form.input :user, label_method: :email, value_method: :id %>
        <%= form.submit "Add Collaborator", class: "btn-treehouse" %>
    </div>
<% end %>
