<div class="modal fade" id="database-modal" tabindex="-1" role="dialog" aria-labelledby="database-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-header" id="database-modal-title">Add Database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <%= render 'databases/form'%>
            </div>
        </div>
    </div>
</div>
