<!-- <div class="footer"> -->
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <div class="footer-links">

                <!-- Link to GitHub repo -->
                <a href="https://github.com/SeeQL-Enterprises/SeeQL" target="_blank">
                    <i class="fab fa-github"></i>
                </a>

                <!-- Link to Twitter profile -->
                <a href="https://twitter.com/see_ql" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Link to support e-mail -->
                <a href="mailto: support@seeql.dev" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>

                <!-- Button to copy URL to clipboard -->
                <a id="clipboard-button" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                    <i class="fas fa-link"></i>
                </a>

                <!-- Link to share on Facebook -->
                <!-- <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.seeql.dev%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                    <i class="fab fa-facebook-square"></i>
                </a> -->
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm fixed-bottom navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="footer-copyright">
            Coded with 🦄 @ SeeQL
        </div>
    </nav>
</div>
<!-- </div> -->
