<div class="footer">
    <div class="footer-links">
        <a href="https://github.com/Bruncky/SeeQL"><i class="fab fa-github"></i></a>
        <a href="https://seeql.dev"><i class="fas fa-database"></i></a>
    </div>
    <div class="footer-copyright">
        This website was coded with 💊at SeeQL
    </div>
</div>
