<!-- <div class="footer"> -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="footer-links">
        <a href="https://github.com/Bruncky/SeeQL" target="_blank"><i class="fab fa-github-square"></i></a>
        <%= social_share_button_tag("Database Schema for your Project", url: "https://seeql.dev/", image: "https://res.cloudinary.com/tim4boom/image/upload/v1585154545/og_image_beych1.png", desc: "Visualisation and navigation for your database project.") %>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm fixed-bottom navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="footer-copyright">
      Coded with 🦄 @ SeeQL
  </div>
  </nav>
</div>
<!-- </div> -->
