<div class="footer">
    <div class="footer-links">
        <a href="https://github.com/Bruncky/SeeQL"><i class="fab fa-github"></i></a>
        <a href="https://seeql.dev"><i class="fas fa-database"></i></a>
        <%= social_share_button_tag("Database Schema for your Project", url: "https://seeql.dev/", image: "https://res.cloudinary.com/bruncky/image/upload/v1583943200/SeeQL/SeeQL%20Logo.png", desc: "Visualisation and navigation for your database project.") %>
    </div>
    <div class="footer-copyright">
        This website was coded with 💊 at SeeQL
    </div>
</div>
