<div class="container mt-5">
    <h1 style="font-size: 50px"><u>Welcome to SeeQL</u></h1>
    <p style="font-weight: lighter; margin-top: 50px; margin-bottom: 50px">Visualisation and navigation for your database project.</p>
    <p class="mt-5">Create your project and invite your team!</p>
    <%= link_to new_project_path do %>
        <div class="btn btn-light mt-3"style="width: 250px"> Create Project </div>
    <% end %>
</div>
<div class="container d-flex align-items-center" style="margin-top: 300px">
    <i class="fa fa-eye" aria-hidden="true" style="font-size: 150px"></i>
    <div class="text pl-3 ">
        <h2>Visualisation</h2>
        <p>Database schema visualisation is an essential process when starting a new project. SeeQL provides a quick but profound visualisation of relational DBs and makes understanding them a walk in the park.</p>
    </div>
</div>
<div class="container d-flex align-items-center" style="margin-top: 150px">
    <i class="fas fa-route" aria-hidden="true" style="font-size: 150px"></i>
    <div class="text pl-4 ">
        <h2>Navigation</h2>
        <p>Flexible and intuitive navigation in SeeQL enables easy filtering for those tables and columns that you really need. Find and understand connections through highlighted table relations and immediately get the corresponding SQL query.</p>
    </div>
</div>
    <div class="container d-flex align-items-center" style="margin-top: 150px; margin-bottom: 50px">
        <i class="far fa-comment-dots" aria-hidden="true" style="font-size: 150px"></i>
        <div class="text pl-4 ">
            <h2>Communication</h2>
            <p>SeeQL makes visualisation of databases an art, because “a picture says more than 1000 words.” As such, it helps improving clear and efficient communication among DB analysts and developer teams.</p>
        </div>
    </div>
</div>
