<style>
    code {
        font-family: monospace;
    }

    p {
        font-size: 21px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }
    
    li {
        font-size: 21px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    }
</style>

<div class="container">
    <div class="primary-container flex-column">
        <h1 class="heading-section medium" style="margin-top: 100px;">
            Our Company Privacy Policy
        </h1>
        <div style="margin-top: 40px">
            <p>
                SeeQL is part of SeeQL Enterprises. This privacy
                policy will explain how our organization uses the personal data
                we collect from you when you use our website.
            </p>
            <br>

            <!-- TOPICS -->
            <h3 class="heading-section small" style="text-align: left; padding-top: 10px;">Topics</h3>
            <ol class="list-standard" style="padding-left: 60px;">
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How do we store your data?</li>
                <li>Marketing</li>
                <li>What are your data protection rights?</li>
                <li>What are cookies?</li>
                <li>How do we use cookies?</li>
                <li>What types of cookies do we use?</li>
                <li>How to manage your cookies</li>
                <li>Privacy policies of other websites</li>
                <li>Changes to our privacy policy</li>
                <li>How to contact us</li>
                <li>How to contact the appropriate authorities</li>
            </ol>

            <!-- WHAT DO WE COLLECT? -->
            <h3 class="heading-section heading-privacy small">What data do we collect?</h3>
            <p>SeeQL collects the following data:</p>
            <ul class="list-standard">
                <li>
                    Personal identification information (full name and e-mail address)
                </li>
                <li>
                    Any data that is (strictly) necessary to connect one or more databases to your projects
                </li>
                <li>
                    Any data that is normally sent as part of a basic HTTP request
                </li>
            </ul>

            <!-- HOW DO WE COLLECT? -->
            <h3 class="heading-section heading-privacy small">How do we collect your data?</h3>
            <p>
                You directly provide SeeQL with most of the data we collect. 
                We collect and process data when you sign up for an account, as well as when you connect one or more databases to your projects.
            </p>
            <!-- <ul class="list-standard">
                <li>
                    Sign up
                </li>
                <li>
                    Voluntarily complete a customer survey or provide feedback
                    on any of our message boards or via email.
                </li>
                <li>Use or view our website via your browser’s cookies.</li>
                <li>[Add any other ways your company collects data]</li>
            </ul>
            <p>
                SeeQL may also receive your data indirectly from the
                following sources:
            </p>
            <ul class="list-standard">
                <li>[Add any indirect source of data your company has]</li>
            </ul> -->

            <!-- HOW DO WE USE DATA? -->
            <h3 class="heading-section heading-privacy small">How will we use your data?</h3>
            <p>SeeQL collects your data so that we can:</p>
            <ul class="list-standard">
                <li>
                    Assign created projects to you and manage your account.
                </li>
                <li>
                    Connect one or more databases to your projects
                </li>
                <li>
                    Keep you updated about account information changes (name, e-mail, avatar).
                </li>
                <li>
                    Keep you updated about any changes to this privacy policy.
                </li>
            </ul>
            <p>
                Our service does not send your data to any third party for marketing and/or analytical purposes. We are strictly against such practices, and make a point 
                of collecting as little data as possible about you, while being transparent about what we do collect.
                <br>
                <br>
                When you create an account, a project, or connect a database to your project, all relevant data is processed directly within the (Ruby on Rails) app, 
                which is hosted on a Heroku <em>dyno</em>.
            </p>

            <!-- WHAT ABOUT DATABASES? -->
            <h3 class="heading-section heading-privacy small">How do we connect a database to your project? What information do we access?</h3>
            <p>
                When you connect a database to your project, you have to provide all the necessary credentials, just as you would when using an app such as DBeaver 
                or Postico. When you submit the form, we open a connection to the provided database using those credentials. We then read out the structure of your
                database by accessing an internal <code>schema</code> called <code>information_schema.tables</code>. This <code>schema</code> holds
                general information about the database, such as table names, column names, and a list of <code>foreign key</code> constraints. After reading
                out this information, we close the connection right away.
                <br>
                <br>
                With that information in hand, we then create a <code>Database</code> object in our own app's database. This object is connected to several
                <code>Table</code> objects, which in turn is connected to several <code>Column</code> objects. All of this is then used to generate the table
                structure that you see in the visualiser.
            </p>

            <!-- HOW DO WE STORE YOUR DATA -->
            <h3 class="heading-section heading-privacy small">How do we store your data?</h3>
            <p>
                SeeQL is hosted on a Heroku <em>dyno</em>, and securely stores your data on a PostgreSQL database hosted on 
                <a style="color: #5BC0BE;" href="https://aws.amazon.com/"> AWS (Amazon Web Services)</a>. 
                <a style="color: #5BC0BE;" href="https://www.heroku.com/">Heroku</a> is a PaaS (Platform as a Service) owned by 
                <a style="color: #5BC0BE;" href="https://www.salesforce.com/">Salesforce.com, Inc</a>. You can read their privacy policies here:
            </p>
            <ul class="list-standard list-privacy">
                <li>Amazon AWS: <a href="https://aws.amazon.com/privacy/">https://aws.amazon.com/privacy/</a></li>
                <li>Heroku/Salesforce: <a href="https://www.salesforce.com/company/privacy/">https://www.salesforce.com/company/privacy/</a></li>
            </ul>
            <p>
                SeeQL will keep all of your data for as long as you have an account on our website. If you decide do delete your account (which can be done from the
                'Edit Profile' page), your data will be flagged for deletion and kept for a grace period of 30 days, during which you may reactivate your account. After 
                30 days, all of your data will be completely and irreversibly removed from our app.
            </p>

            <!-- MARKETING -->
            <h3 class="heading-section heading-privacy small">Marketing</h3>
            <p>
                SeeQL will never send you any e-mails about our products or those of potential partner companies.
                We will only send you an e-mail if we have a <strong>new</strong> product to announce, at which point we will send
                you a single announcement e-mail to let you know about it.
                <br>
                <br>
                If you do not wish to receive announcement e-mails, please <a style="color: #5BC0BE;" href="#">click here</a>.
            </p>
            
            <!-- WHAT ARE YOUR RIGHTS? -->
            <h3 class="heading-section heading-privacy small">What are your data protection rights?</h3>
            <p>
                SeeQL would like to make sure you are fully aware of all of your data protection rights.
                Every user is entitled to the following:
            </p>
            <br>
            <p>
                <strong>The right to access</strong> – You have the right to request SeeQL for copies of your personal data.
                The data will be sent to you as soon as possible, free of charge.
            </p>
            <br>
            <p>
                <strong>The right to rectification</strong> – You have the right to request that SeeQL correct any information 
                you believe is inaccurate. You also have the right to request SeeQL to complete the information you believe is incomplete.
            </p>
            <br>
            <p>
                <strong>The right to erasure</strong> – You have the right to request that SeeQL delete your personal data. Keep in mind,
                however, that deleting your e-mail is not possible without deleting your account.
            </p>
            <br>
            <!-- <p>
                <strong>The right to restrict processing</strong> – You have the right to request that SeeQL restrict the processing 
                of your personal data, under certain conditions.
            </p>
            <br> -->
            <!-- <p>
                <strong>The right to object to processing</strong> – You have the right to object to SeeQL’s processing of your 
                personal data, under certain conditions.
            </p>
            <br> -->
            <p>
                <strong>The right to data portability</strong> – You have the right to request that SeeQL transfer the data that we have
                collected to another organisation, or directly to you. We are not responsible for how the organisation will handle
                your data afterwards.
            </p>
            <br>
            <p>
                If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, 
                please contact us at our e-mail: 
                <a style="color: #5BC0BE;" href="mailto: support@seeql.dev">support@seeql.dev</a>
            </p>

            <!-- COOKIES -->
            <h3 class="heading-section heading-privacy small">Cookies</h3>
            <p>
                Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior
                information. When you visit our websites, we may collect information from you automatically through cookies 
                or similar technology.
            </p>
            <br>
            <p>For further information, visit 
                <a style="color: #5BC0BE;" href="https://www.allaboutcookies.org/">allaboutcookies.org</a>.
            </p>

            <!-- HOW DO WE USE COOKIES? -->
            <h3 class="heading-section heading-privacy small">How do we use cookies?</h3>
            <p>
                SeeQL only uses cookies that are strictly necessary for a good user experience.
            </p>

            <!-- WHAT TYPES OF COOKIES DO WE USE? -->
            <h3 class="heading-section heading-privacy small">What types of cookies do we use?</h3>
            <p>
                SeeQL uses cookies to keep you signed in. That's it.
            </p>

            <!-- HOW TO MANAGE COOKIES -->
            <h3 class="heading-section heading-privacy small">How to manage cookies</h3>
            <p>
                You can set your browser to not accept cookies, and 
                <a style="color: #5BC0BE;" href="https://www.allaboutcookies.org/">allaboutcookies.org</a> 
                tells you how to remove cookies from your browser. Furthermore, you can check which cookies are 
                being saved on your computer by accessing your browser's cookies for our website — usually by 
                clicking on the lock icon to the left of the address field, or in the browser's settings.
            </p>

            <!-- CHANGES TO PRIVACY POLICY -->
            <h3 class="heading-section heading-privacy small">Changes to our privacy policy</h3>
            <p>
                SeeQL keeps its privacy policy under regular review and places any updates on this web page.
                Changes to the previous version will be highlighted for 30 days, to make them easier to spot.
                We will also send you an e-mail whenever we make any changes to it. For moral reasons, you 
                cannot opt out of this e-mail.
                <br>
                This privacy policy was last updated on 5 February 2021.
            </p>

            <!-- HOW TO CONTACT US -->
            <h3 class="heading-section heading-privacy small">How to contact us</h3>
            <p>
                If you have any questions about SeeQL’s privacy policy, the data we hold on you, 
                or you would like to exercise one of your data protection rights, please do not hesitate 
                to contact us.
            </p>
            <p>E-mail us at: <a style="color: #5BC0BE;" href="mailto: support@seeql.dev">support@seeql.dev</a></p>

            <!-- <h3 class="heading-section heading-privacy small">How to contact the appropriate authority</h3>
            <p>
                Should you wish to report a complaint or if you feel that Our
                Company has not addressed your concern in a satisfactory manner,
                you may contact the Information Commissioner’s Office.
            </p>
            <p>Email:</p>
            <p>Address</p> -->
        </div>
    </div>
</div>
