<div class="container">
  <h1>Your Projects:</h1>
    <div class="container mt-5">
      <div class="row w-100 justify-content-around">
        <% @projects.each do |project| %>
          <div class="col-3">
          <%= link_to project_path(project) do %>
            <div class="card bg border text-center projcard">
              <p class="project_name" ><strong><%= project.name.capitalize %></strong> </p>
                <div class="collab_list">
                <p><strong><u>Collaborators:</u></strong></p>
                <% project.collaborators.each do |collaborator| %>
                  <p><%= collaborator.user.email %></p>
                <% end %>
                </div>
          
        <% end %>

            </div>
          </div>
        <% end %>

  <%= link_to new_project_path do %>
    <p class="btn btn-primary btn-lg mt-5"> <i class="far fa-plus-square"></i> Add a new Project</p>
  <% end %>
</div>

</div>
<div class="bgimg"></div>
