<div class="primary-container">
    <h2>Start now and create a new project:</h2>
    <%= simple_form_for @project do |f|%>
        <%= f.input :name, placeholder: "Name of your new project" %>
        <%= f.input :project_image, as: :file, required: false %>

        <%= f.submit "Create Project", class: "btn-treehouse" %>
    <% end %>
</div>
