<h1>This is the table index</h1>

<% @tables.each do |table| %>
  <%= table.name %>
  <% if table.display %>
    <p><%= "display" %></p>
  <% else %>
    <p><%= "not displayed" %></p>
  <% end %>
<% end %>


