
<%= @database.name %>
<% JSON.parse(@database.db_json).each do |key, value| %>
  <div class="container d-flex">
    <div class="card">
      <p><input type="checkbox" ><%= key %></p>
    </div>
  </div>
<% end %>

<%= link_to "Display tables", tables_path %>


