<h1>This is database show</h1>

<%= @database.name %>

<% @tables.each do |table| %>
  <div class="container d-flex">
    <div class="card">
      <p><input type="checkbox" ><%= table.name %></p>
    </div>
  </div>
<% end %>


<%= link_to "Display tables", database_tables_path(@database) %>
