<h1>This is database show</h1>

<%= @database.name %>

<%= simple_form_for(@database, url: database_table_preference_path(@database)) do |f| %>
  <%= f.input :tables, collection: @database.tables, as: :check_boxes, lable_value: :name %>
  <%= f.submit %>
<% end %>
