// Animation
@keyframes jump {
  0% { top: 0; } 50% { top: 20px; } 100% { top: 0; }
}

//Button/Arrow
#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 3s infinite;
  img:hover {
    opacity: 0.7;
    transition: .3s ease-in-out;
  }
}
