.banner-landing-page {
    margin-top: 20px;
    margin-left: -16px;
    width: 100%;
    
    img{
        max-width: 100%;
    }
}

.headerlanding-page {
    margin-top: 120px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff
}
