.banner {
    background-position: center;
    background-size: cover;
    padding-bottom: 36px;

    .seeql-logo {
        max-width: 50%;
    }

    .banner-content {
        text-align: center;

        .banner-slogan {
            margin-bottom: 6.5rem;
            margin-top: 6.5rem;
        }

        h1 {
            text-shadow: 1px 1px 3px rgba($black, .2);
        }

        h5 {
            text-shadow: 1px 1px 3px rgba($black, .2);
        }

        p {
            margin-top: 10rem;
        }
    }
}

// MEDIA QUERIES

@media (max-width: 528px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 512px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 468px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 420px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 375px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 21px;
            }
        }
    }
}

// .banner-landing-page {
//     margin-top: 20px;
//     margin-left: -16px;
//     width: 100%;
//     text-align: center;
//
//     img{
//         max-width: 100%;
//     }
// }
