#add-collaborator-button {
    margin-top: 20px;
}

#add-database-button {
    margin-top: 25px;
}

.btn-treehouse {
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: bold;
  background: #5BC0BE;
  opacity: 0.8;
}

.btn-treehouse:hover {
  opacity: 1;
}
