.btn {
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    background: #5BC0BE;
    opacity: 0.8;
    justify-content: center;

    &:hover {
        opacity: 1;
    }
}

.btn-treehouse {
  margin-top: 20px;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  background: #5BC0BE;
  opacity: 0.8;
  justify-content: center;

  &:hover {
      opacity: 1;
  }
}

.btn-cancel {
  margin-top: 20px;
  color: white;
  background: darkgrey;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0.8;
  justify-content: center;

  &:hover {
      opacity: 1;
  }
}

#add-table-button {
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
}
