// laksdflaksdflak

.draggable {
  touch-action: none;
  user-select: none;
  margin: 3%;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  z-index: 100;
}

.top {
  background-color: rgba($color: #3a506b, $alpha: 0.9);
  padding: 20px 10px 10px 5px;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  box-shadow: inset 0px 1px 0px #2ab7ec
}
.column {
  padding: 0 5px 0 5px;
  background-color: rgba($color: #3a506b, $alpha: 0.9);
  border: 1px solid black;
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
  box-shadow: 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e;
}
.bottom {
  background-color: rgba($color: #3a506b, $alpha: 0.9);
  padding: 5px 10px 10px 20px;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0px 5px 0px 0px #07526e;
}

.comment-content {
  background-color: #597ca7;
}

.bg {
  border-radius: 5px;
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.project_name {
  font-size: 25px;
}
.collab_list {
  padding: 5px;
  margin: 5px;
  background-color: rgba($color: #fff, $alpha: 0.4);
}
.bg {
  border-radius: 5px;
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.project_name {
  font-size: 25px;
}
.collab_list {
  padding: 5px;
  margin: 5px;
  background-color: rgba($color: #fff, $alpha: 0.4);
}
.projcard a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 60px -19px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 0px 60px -19px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 0px 60px -19px rgba(255, 255, 255, 0.68);
}
.bg {
  border-radius: 5px;
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.project_name {
  font-size: 25px;
}
.collab_list {
  padding: 5px;
  margin: 5px;
  background-color: rgba($color: #fff, $alpha: 0.4);
}
.projcard a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 60px -19px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 0px 60px -19px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 0px 60px -19px rgba(255, 255, 255, 0.68);
}
