body {
  background-color: #0B132B;
  font-family: 'Open Sans', sans-serif;
}

.card {
/*   display: flex; */
  text-align: center;
  height: 380px;
  width: 300px;
  background-color: #1C2541;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  padding: 10%;
/*   position: absolute; */
/*   left: 20px;
  top: 15px; */
}

.bar {
  padding: 0 10%;
  height: 5px;
  width: 100%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card:hover .emptybar {
    z-index: 3;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(91,192,190,1) 0%, rgba(58,80,107,1) 90%);
    transition: 0.6s ease-out;
  }

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #1C2541;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
