// .collab {
//     background-color: rgba($white, .3);
//     margin-bottom: 40px;
//     padding: 8px;
//     width: fit-content;
// }

.notification {
    align-items: center;
    background: $seeql-background-steel-blue;
    border: 1px solid $darkgrey;
    border-radius: 8px;
    display: flex;
    margin-bottom: 20px;
    max-width: 625px;
    min-width: 50%;
    padding: 8px 16px;

    &.notification-content {
        flex-grow: 1;
        padding: 0 24px;
    }

    small {
        color: $white;
        font-weight: bold;
    }

    p {
        color: $white;
        line-height: 1.4;
        margin: 0;
    }

    .notification-actions {
        display: grid;
        opacity: 1;
        transition: ease .3s;
        vertical-align: middle;

        a, i {
            color: $seeql-red;
            font-size: 14px;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

@media (min-width: 100px) and (max-width: 575px) {
    .notification .notification-content {
        padding: 0 12px;
    }

    .notification .notification-actions {
        a, i {
            margin-left: 8px;
            margin-right: 0;
        }
    }
}
