.collab {
  background-color: rgba(255, 255, 255, 0.3);
  width: fit-content;
  padding: 8px;
  margin-bottom: 40px;
}

.notification {
  display: flex;
  align-items: center;
  min-width: 50%;
  max-width: 625px;
  margin-bottom: 20px;
  background: #3A506B;
  padding: 8px 16px;
  border: 1px solid darkgrey;
  border-radius: 8px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  color: #fff !important;
}

.notification small {
  color: #fff;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 1;
  display: grid;
  vertical-align: middle;
  transition: ease .3s;
}

.notification .notification-actions {
  a, i {
    color: #fff !important;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 14px;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .notification .notification-content {
    padding: 0 12px;
  }
  .notification .notification-actions {
    a, i {
      margin-left: 8px;
      margin-right: 0;
    }
  }
}
