/* ---------- PRIMARY CONTAINER ---------- */

.container-primary {
    margin: 0 auto;
    max-width: 55rem;
    padding-bottom: 70px;
    padding-top: 100px;
}

// X small devices (portrait phones, 100 px - 575px)
@media (min-width: 100px) and (max-width: 575px) {
    .container-primary {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container-primary {
        padding-left: 40px;
        padding-right: 40px;
    }
}


/* ---------- BENEFITS CONTAINER LP ---------- */

.container-benefits {
    display: flex;
    margin-bottom: 4.5rem;
    text-align: center;
}

@media (min-width: 100px) and (max-width: 600px) {
    .container-benefits {
        display: block;
    }
}

.who-are-we-container {
    text-align: center;
}


/* ---------- DOUBLE CONTAINER ---------- */

.container-double {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 56rem;
    padding-top: 100px;

    &.profile-container {
        max-height: 40rem;
    }
}

// X small devices (portrait phones, 100 px - 575px)
@media (min-width: 100px) and (max-width: 575px) {
    // .container-double {
    // }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // .container-double {
    // }
}


/* ---------- WIDE CONTAINER ---------- */

.container-wide {
    display: flex;
    justify-content: center;
    margin: 70px auto;
    // padding: 45px 0;
    width: 100%;
}

.content-wide {
    background-color: rgba($seeql-darkgrey, .9);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba($black, .2);
    margin-top: 150px;
    text-shadow: 4px 4px 3px rgba($black, .4);
}

// X small devices (portrait phones, 100 px - 575px)
@media (min-width: 100px) and (max-width: 575px) {
    // .container-wide {
    // }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // .container-wide {
    // }
}


/* ---------- FORM CONTAINER ---------- */

// .form-container {
//     margin-top: 150px;
//     padding-left: 30px;
//     padding-right: 30px;
// }


/* ---------- PROJECTS CONTAINER ---------- */

.container-projects {
    max-width: unset;

    .container-wide {
        margin: 0 auto;
    }

    .content-wide {
        margin-top: 75px;
    }
}

/* ---------- FOOTER CONTAINER ---------- */

.container-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 40px 0;
}