/* ---------- PRIMARY CONTAINER ---------- */

.primary-container {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 55rem;
}

// X small devices (portrait phones, 100 px - 575px)
@media (min-width: 100px) and (max-width: 575px) {
    .primary-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .primary-container {
        padding-right: 40px;
        padding-left: 40px;
    }
}


/* ---------- BENEFITS CONTAINER LP ---------- */

.benefits-container {
    display: flex;
    text-align: center;
    margin-bottom: 4.5rem;
}

@media (min-width: 100px) and (max-width: 600px) {
    .benefits-container {
        display: block;
    }
}

.who-are-we-container {
    text-align: center;
}


/* ---------- DOUBLE CONTAINER ---------- */

.double-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 56rem;

    &.profile-container {
        max-height: 40rem;
    }
}

// X small devices (portrait phones, 100 px - 575px)
@media (min-width: 100px) and (max-width: 575px) {
    .double-container {
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .double-container {
    }
}


/* ---------- WIDE CONTAINER ---------- */

.wide-container {
    display: flex;
    justify-content: center;
    margin: 70px auto;
    // padding: 45px 0;
    width: 100%;
    background-color: #304052;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .4);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

// X small devices (portrait phones, 100 px - 575px)
@media (min-width: 100px) and (max-width: 575px) {
    .wide-container {
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .wide-container {
    }
}


/* ---------- FORM CONTAINER ---------- */

.form-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 150px;
}


/* ---------- PROJECTS CONTAINER ---------- */

.projects-container {
    max-width: unset;

    .wide-container {
        flex-direction: column;
        align-items: center;
    }
}
