// PRIMARY CONTAINER
.primary-container {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 55rem;
}

// X small devices (portrait phones, 100 px - 575px)
// @media (min-width: 100px) and (max-width: 575px) {
//   .primary-container {
//     padding-right: 20px;
//     padding-left: 20px;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .primary-container {
//     padding-right: 40px;
//     padding-left: 40px;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .primary-container {
//     padding-right: 40px;
//     padding-left: 40px;
//   }
// }

// BENEFITS CONTAINER LP
.benefits-container {
  display: flex;
  text-align: center;
}

@media (min-width: 100px) and (max-width: 600px) {
  .benefits-container {
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .general-container {
    margin: 150px 40px 120px 40px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .general-container {
    margin: 150px 100px 120px 100px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .general-container {
    margin: 150px 100px 120px 100px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .general-container {
    margin: 150px 100px 120px 100px;
  }
}






