.our-footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    padding: 0px 30px;

    .footer-links {
        display: -webkit-inline-box;
        -webkit-box-align: center;

        padding-top: 10px;

        $regular-icon: 28px;
        $small-icon: 25px;

        a {
            text-decoration: none;

            .fab {
                opacity: 0.6;
                font-size: $regular-icon;
                margin-right: 6px;

                &:hover {
                    opacity: 1;
                }

                &.fa-github {
                    margin-left: 20px;
                }

                &.fa-twitter {
                    color: white;
                }
            }

            .far {
                opacity: 0.6;
                font-size: $regular-icon;
                margin-right: 6px;

                &:hover {
                    opacity: 1;
                }

                &.fa-envelope {
                    color: white;
                }
            }

            .fas {
                opacity: 0.6;
                font-size: $regular-icon;
                margin-right: 6px;

                &:hover {
                    opacity: 1;
                }

                &.fa-link {
                    font-size: $small-icon;
                    color: white;
                    margin-left: 1px;
                }
            }
        }
    }
}
