.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.7);

    .footer-links {
        display: flex;
        align-items: center;

        a {
            color: white;
            opacity: 0.15;
            text-decoration: none;
            font-size: 24px;
            padding: 0px 10px;

            &:hover {
                opacity: 1;
            }
        }
    }

    .footer-copyright {
        color: rgba(255,255,255,0.7);
    }
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    padding: 22px;
    margin: 4px 10px 0 10px;
  }
}
