#database-form {
  margin-top: 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;

  &.active {
    max-height: 506px;
  }
}

#collaborator-form {
  margin-top: 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;

  &.active {
    max-height: 162px;
  }
}

.login-form {
    padding: 45px 580px 0px 25px;
}

.simple_form.new_database {
    padding-bottom: 100px;
}
