.forms-card {
  padding: 36px 24px;
  background-color: #0B132B;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 600px;
}

#database-form {
  margin-top: 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;

  &.active {
    max-height: 100%;
  }
}

#collaborator-form {
  margin-top: 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;

  &.active {
    max-height: 100%;
  }
}

.login-form {
    padding: 45px 580px 0px 25px;
}

.simple_form.new_database {
    padding-bottom: 100px;
}


