.heading-section {
    color: $white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;

    &.medium {
        font-size: 34px;
    }

    &.small {
        font-size: 28px;
    }
}

.heading-form {
    font-size: 32px;
    text-align: center;
}

.heading-privacy {
    padding: 60px 0 35px;
}
