.section-heading {
    color: $white;
    font-size: 40px;
    text-align: center;

    &.medium {
        font-size: 34px;
    }

    &.small {
        font-size: 28px;
    }
}

.form-heading {
    font-size: 32px;
    text-align: center;
}
