.hidden-text {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

.hidden-text:active {
  display: block;
  width: 100px;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

