section {
  padding-top: 4.5rem;
  margin-bottom: 12.0rem;
}

.banner-landing-page {
  margin-top: 20px;
  margin-left: -16px;
  width: 100%;
  text-align: center;

  img{
      max-width: 100%;
  }
}

.headerlanding-page {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff
}

.welcome-content {
  padding-bottom: 100px;
}

// Very small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 575px) {
  section {
    margin-bottom: 12.0rem;
  }
}

// XX large devices (widescreen desktops, 2560px and up)
@media (min-width: 2560px) {
  section {
    margin-bottom: 22.0rem;
  }
}
