.add_fields {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.remove_fields {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.modal-header {
    color: black !important;
}

.modal-body {
    label {
        color: black !important;
    }

    .form-control.select {
        option {
            color: black;
        }
    }
}
