.navbar-lewagon {
  height: 80px;
  justify-content: space-between;
  background: rgba($color: #ffffff, $alpha: 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  padding: 16px;
  width: 40px;
}
* {
  color: #ffffff;
}
.nav-link {
  padding: 16px;
  color: #ffffff !important;
}
