.popover {
    background-color: $seeql;
    font-family: 'Montserrat', 'Helvetica', 'sans-serif';
    font-size: 13px;
    font-weight: 500;
    max-height: 45px;
    text-align: center;

    .arrow::after {
        // Color for the arrow of the popover
        border-top-color: $seeql;
    }
}
