.project-name {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  margin: -80px;
  height: 60px;
  background-color: rgba($color: #5BC0BE, $alpha: 0.5);
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
