input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.was-validated.form-check-input:valid ~.form-check-label,.form-check-input.is-valid ~.form-check-label {
  color: #5BC0BE;
}

.col-form-label {
  height: 0;
  width: 0;
  visibility: hidden;
}

.form-check-label {
  padding-left: 40px;
}

.form-check {
  position: relative;
  margin: 20px 0px 20px 0px;
  background-color: rgb(100, 100, 100);
  border-radius: 30px;
  height: 20px;
  width: 45px;
  border: 1px solid grey;
}

.label_select_all {
  padding-left: 20px;
  font-weight: bold;
}

.form-check:after {
  content: "off";
  font-size: 10px;
  color: rgb(134, 134, 134);
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 0.4px;
  left: 1px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-box-shadow: inset 2px 0px 4px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: inset 2px 0px 4px 1px rgba(0, 0, 0, 0.23);
  box-shadow: inset 2px 0px 4px 1px rgba(0, 0, 0, 0.23);
}

.on:after {
  content: "on";
  font-size: 10px;
  color: black;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 0.4px;
  left: 25px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-box-shadow: inset -2px 0px 4px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: inset -2px 0px 4px 1px rgba(0, 0, 0, 0.23);
  box-shadow: inset -2px 0px 4px 1px rgba(0, 0, 0, 0.23);
  -webkit-animation: rotate-center 0.25s linear both;
  animation: rotate-center 0.25s linear both;
}

.form-check.on {
  background-color: #5BC0BE;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
