#user-remember-me {
    height: 0;
    visibility: hidden;
    width: 0;
}

.was-validated.form-check-input:valid ~.form-check-label,.form-check-input.is-valid ~.form-check-label {
    color: $seeql;
}

.col-form-label {
    height: 0;
    visibility: hidden;
    width: 0;
}

.form-check-label {
    padding-left: 40px;
    white-space: nowrap;
}

.form-check {
    background-color: $seeql-gunmetal;
    border: 1px solid $grey;
    border-radius: 30px;
    height: 20px;
    margin: 20px 0;
    position: relative;
    width: 45px;

    &.on {
        background-color: $seeql;
    }
}

.label-select-all {
    font-weight: bold;
    padding-left: 20px;
}

.form-check::after {
    background: $white;
    border-radius: 50%;
    box-shadow: inset 2px 0 4px 1px rgba($black, .23);
    color: $grey;
    content: 'off';
    font-size: 10px;
    height: 19px;
    left: 1px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: .4px;
    transition: .3s;
    width: 19px;
}

.on::after {
    animation: rotate-center .25s linear both;
    background: $white;
    border-radius: 50%;
    box-shadow: inset -2px 0 4px 1px rgba($black, .23);
    color: $black;
    content: 'on';
    font-size: 10px;
    height: 19px;
    left: 25px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: .4px;
    transition: .3s;
    width: 19px;
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
