// .typing {
//   position: relative;
//   line-height: 24px;
//   display: inline-block;
//   color: #FFF;
//   min-width: 1px;
//   min-height: 24px;
//   z-index: 0;
// }
//
// .typing:after {
//   content: "";
//   position: absolute;
//   top: 5%;
//   right: -2px;
//   width: 1px;
//   height: 90%;
//   border-right: 2px solid #FFF;
//   animation: blink .5s infinite ease;
// }
//
// @keyframes blink {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1%;
//   }
// }
