// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap_variables';

// External libraries
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
// *= require bootstrap-toggle

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Your CSS partials
@import 'components/index';
@import 'pages/index';

* {
    color: $white;
}

a {
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// smooth scroll-effect
html {
    scroll-behavior: smooth;
}
