// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rails-social-share-button";
// *= require bootstrap-toggle

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/comment";
@import "components/collab";
@import "components/footer";
@import "components/edit";

body {
  color: #ffffff;
}
